@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #050505;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

span {
  background: linear-gradient(to bottom right, #CF1B81 0%, #1D02CF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #323232;
}

::-webkit-scrollbar-thumb {
  background-color: #646464;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #969696;
}

.section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  background-color: #050505;
  padding: 60px 10%;
}
.section .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section .container .section-title {
  margin-bottom: 50px;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome .profile-picture {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.welcome h1 {
  font-size: 36px;
  font-weight: 900;
  color: #f0f0f0;
}
.welcome h2 {
  font-size: 18px;
  font-weight: 400;
  color: #969696;
  margin-bottom: 10px;
}
.welcome .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.welcome .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome .socials a:hover {
  transition: 0.2s ease;
  transform: scale(1.15);
}
.welcome .socials i {
  font-size: 28px;
  color: #969696;
}

.navbar {
  position: fixed;
  visibility: visible;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(240, 240, 240, 0.25);
  padding: 0 10%;
  z-index: 999;
  visibility: hidden;
}
.navbar .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.navbar .inner .logo {
  display: flex;
}
.navbar .inner .logo img {
  width: 35px;
}
.navbar .inner .menu {
  display: flex;
  gap: 50px;
}
.navbar .inner .menu button {
  font-size: 18px;
  background-color: transparent;
}
.navbar .theme {
  display: flex;
}
.navbar .theme button {
  display: flex;
  background: transparent;
}
.navbar .theme button i {
  font-size: 36px;
}

@media (min-width: 1401px) {
  .navbar-compact {
    visibility: hidden;
  }
  .navbar {
    position: fixed;
    visibility: visible;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(240, 240, 240, 0.25);
    padding: 0 10%;
    z-index: 999;
  }
  .navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .navbar .inner .logo {
    display: flex;
  }
  .navbar .inner .logo img {
    width: 35px;
  }
  .navbar .inner .menu {
    display: flex;
    gap: 50px;
  }
  .navbar .inner .menu button {
    font-size: 18px;
    background-color: transparent;
  }
  .navbar .theme {
    display: flex;
  }
  .navbar .theme button {
    display: flex;
    background: transparent;
  }
  .navbar .theme button i {
    font-size: 36px;
  }
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .container .elements {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4em 0;
  }
  .container .elements:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  .text {
    color: white;
    z-index: 2;
  }
  .text h1 {
    font-size: 96px;
    font-weight: 900;
  }
  .text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .text h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  .images {
    position: relative;
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-right: 100px;
  }
  .images img {
    border-radius: 25px;
    max-width: 100%;
    z-index: 2;
  }
  .images .sphere {
    position: absolute;
    z-index: 1;
  }
  .images .pink {
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: radial-gradient(rgba(207, 27, 129, 0.3) 0%, transparent 70%);
    transform: translate(-50%, -50%);
  }
  .images .purple {
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: radial-gradient(rgba(99, 12, 176, 0.3) 0%, transparent 70%);
    transform: translate(-40%, 40%);
  }
  .images .blue {
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(rgba(29, 2, 207, 0.3) 0%, transparent 70%);
    transform: translate(50%, 50%);
  }
  .selectors {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 10px;
    margin: 15px;
    z-index: 2;
  }
  .selectors button {
    width: 60px;
    height: 4px;
    background-color: #333;
  }
  .selectors button.active {
    background-color: white;
  }
  .buttons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    gap: 60px;
  }
  .buttons button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 18px;
  }
  .portfolio-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid rgba(240, 240, 240, 0.25);
    padding-top: 2em;
    margin-bottom: 2em;
  }
  .portfolio-element .portfolio-element-description {
    width: 40%;
    background-color: transparent;
  }
  .portfolio-element .portfolio-element-description h1 {
    font-size: 36px;
  }
  .portfolio-element .portfolio-element-description h2 {
    font-size: 24px;
    font-weight: 500;
    color: #969696;
    margin-bottom: 10px;
  }
  .portfolio-element .portfolio-element-description p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .portfolio-element .portfolio-element-description .links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio-element .portfolio-element-description .links button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 16px 12px 16px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) {
    border: transparent;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) i {
    font-size: 24px;
    color: #CF1B81;
  }
  .portfolio-element .thumbnail {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .portfolio-element .thumbnail img {
    width: 100%;
    border-radius: 12px;
  }
  .portfolio-element:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 100px;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .navbar-compact {
    visibility: hidden;
  }
  .navbar {
    position: fixed;
    visibility: visible;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(240, 240, 240, 0.25);
    padding: 0 10%;
    z-index: 999;
  }
  .navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .navbar .inner .logo {
    display: flex;
  }
  .navbar .inner .logo img {
    width: 35px;
  }
  .navbar .inner .menu {
    display: flex;
    gap: 50px;
  }
  .navbar .inner .menu button {
    font-size: 18px;
    background-color: transparent;
  }
  .navbar .theme {
    display: flex;
  }
  .navbar .theme button {
    display: flex;
    background: transparent;
  }
  .navbar .theme button i {
    font-size: 36px;
  }
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .container .elements {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4em 0;
  }
  .container .elements:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  .text {
    color: white;
    z-index: 2;
  }
  .text h1 {
    font-size: 96px;
    font-weight: 900;
  }
  .text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .text h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  .images {
    position: relative;
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-right: 100px;
  }
  .images img {
    border-radius: 25px;
    max-width: 100%;
    z-index: 2;
  }
  .images .sphere {
    position: absolute;
    z-index: 1;
  }
  .images .pink {
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: radial-gradient(rgba(207, 27, 129, 0.3) 0%, transparent 70%);
    transform: translate(-50%, -50%);
  }
  .images .purple {
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: radial-gradient(rgba(99, 12, 176, 0.3) 0%, transparent 70%);
    transform: translate(-40%, 40%);
  }
  .images .blue {
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(rgba(29, 2, 207, 0.3) 0%, transparent 70%);
    transform: translate(50%, 50%);
  }
  .selectors {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 10px;
    margin: 15px;
    z-index: 2;
  }
  .selectors button {
    width: 60px;
    height: 4px;
    background-color: #333;
  }
  .selectors button.active {
    background-color: white;
  }
  .buttons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    gap: 60px;
  }
  .buttons button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 18px;
  }
  .portfolio-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid rgba(240, 240, 240, 0.25);
    padding-top: 2em;
    margin-bottom: 2em;
  }
  .portfolio-element .portfolio-element-description {
    width: 65%;
    background-color: transparent;
  }
  .portfolio-element .portfolio-element-description h1 {
    font-size: 36px;
  }
  .portfolio-element .portfolio-element-description h2 {
    font-size: 24px;
    font-weight: 500;
    color: #969696;
    margin-bottom: 10px;
  }
  .portfolio-element .portfolio-element-description p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .portfolio-element .portfolio-element-description .links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio-element .portfolio-element-description .links button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 16px 12px 16px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) {
    border: transparent;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) i {
    font-size: 24px;
    color: #CF1B81;
  }
  .portfolio-element .thumbnail {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .portfolio-element .thumbnail img {
    width: 100%;
    border-radius: 12px;
  }
  .portfolio-element:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .navbar-compact {
    visibility: hidden;
  }
  .navbar {
    position: fixed;
    visibility: visible;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(240, 240, 240, 0.25);
    padding: 0 10%;
    z-index: 999;
  }
  .navbar .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .navbar .inner .logo {
    display: flex;
  }
  .navbar .inner .logo img {
    width: 35px;
  }
  .navbar .inner .menu {
    display: flex;
    gap: 50px;
  }
  .navbar .inner .menu button {
    font-size: 18px;
    background-color: transparent;
  }
  .navbar .theme {
    display: flex;
  }
  .navbar .theme button {
    display: flex;
    background: transparent;
  }
  .navbar .theme button i {
    font-size: 36px;
  }
  .container {
    flex-direction: row;
    justify-content: center;
  }
  .container .elements {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4em 0;
  }
  .container .elements:nth-child(2) {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  .text {
    color: white;
    z-index: 2;
  }
  .text h1 {
    font-size: 96px;
    font-weight: 900;
  }
  .text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .text h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  .images {
    position: relative;
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-right: 100px;
  }
  .images img {
    border-radius: 25px;
    max-width: 100%;
    z-index: 2;
  }
  .images .sphere {
    position: absolute;
    z-index: 1;
  }
  .images .pink {
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background: radial-gradient(rgba(207, 27, 129, 0.3) 0%, transparent 70%);
    transform: translate(-50%, -50%);
  }
  .images .purple {
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: radial-gradient(rgba(99, 12, 176, 0.3) 0%, transparent 70%);
    transform: translate(-40%, 40%);
  }
  .images .blue {
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(rgba(29, 2, 207, 0.3) 0%, transparent 70%);
    transform: translate(50%, 50%);
  }
  .selectors {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 10px;
    margin: 15px;
    z-index: 2;
  }
  .selectors button {
    width: 60px;
    height: 4px;
    background-color: #333;
  }
  .selectors button.active {
    background-color: white;
  }
  .buttons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    gap: 60px;
  }
  .buttons button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 18px;
  }
  .portfolio-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid rgba(240, 240, 240, 0.25);
    padding-top: 2em;
    margin-bottom: 2em;
  }
  .portfolio-element .portfolio-element-description {
    width: 65%;
    background-color: transparent;
  }
  .portfolio-element .portfolio-element-description h1 {
    font-size: 32px;
  }
  .portfolio-element .portfolio-element-description h2 {
    font-size: 22px;
    font-weight: 500;
    color: #969696;
    margin-bottom: 10px;
  }
  .portfolio-element .portfolio-element-description p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .portfolio-element .portfolio-element-description .links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio-element .portfolio-element-description .links button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 16px 12px 16px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) {
    border: transparent;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) i {
    font-size: 24px;
    color: #CF1B81;
  }
  .portfolio-element .thumbnail {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .portfolio-element .thumbnail img {
    width: 100%;
    border-radius: 12px;
  }
  .portfolio-element:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 740px) {
  .navbar {
    visibility: hidden;
  }
  .navbar-compact {
    position: fixed;
    visibility: visible;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(240, 240, 240, 0.25);
    padding: 0 10%;
    z-index: 999;
  }
  .navbar-compact button {
    display: flex;
    background: transparent;
  }
  .navbar-compact button i {
    font-size: 36px;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .container .elements {
    display: flex;
    align-items: start;
    justify-content: center;
    border-top: 1px solid rgba(240, 240, 240, 0.25);
    border-bottom: 1px solid rgba(240, 240, 240, 0.25);
    padding: 4em 0px;
    flex-wrap: wrap-reverse;
  }
  .container .elements:nth-child(2) {
    padding: 0;
    border: transparent;
    flex-wrap: wrap;
  }
  .text {
    width: 100%;
    color: white;
    z-index: 2;
    margin-bottom: 50px;
  }
  .text h1 {
    font-size: 48px;
    font-weight: 900;
  }
  .text h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .text h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  .images {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
  }
  .images img {
    border-radius: 25px;
    max-width: 100%;
    z-index: 2;
  }
  .selectors {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 10px;
    margin: 15px;
    z-index: 2;
  }
  .selectors button {
    width: 60px;
    height: 4px;
    background-color: #333;
  }
  .selectors button.active {
    background-color: white;
  }
  .buttons {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 2;
    gap: 60px;
  }
  .buttons button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 18px;
  }
  .portfolio-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-bottom: 100px;
    border-top: 1px solid rgba(240, 240, 240, 0.25);
    padding-top: 2em;
  }
  .portfolio-element .portfolio-element-description {
    background-color: transparent;
  }
  .portfolio-element .portfolio-element-description h1 {
    font-size: 24px;
  }
  .portfolio-element .portfolio-element-description h2 {
    font-size: 16px;
    font-weight: 500;
    color: #969696;
    margin-bottom: 10px;
  }
  .portfolio-element .portfolio-element-description p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .portfolio-element .portfolio-element-description .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .portfolio-element .portfolio-element-description .links button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 16px 12px 16px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) {
    border: transparent;
  }
  .portfolio-element .portfolio-element-description .links button:nth-child(2) i {
    font-size: 24px;
    color: #CF1B81;
  }
  .portfolio-element .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio-element .thumbnail img {
    width: 100%;
    border-radius: 12px;
  }
}
footer {
  width: 100%;
  height: 400px;
  background-color: #333;
}/*# sourceMappingURL=style.css.map */